.app.dark {
    --bg-color: #30333a;
    --inverted-bg-color: #ded7fb;
    --primary-color: #b48e57;
    --secondary-color: #f6eeda;
    --inverted-primary-color: #555241;
    --inverted-secondary-color: #373d42;
}
