.app.dark {
  --bg-color: #30333A;
  --inverted-bg-color: #DED7FB;

  --primary-color: #B48e57;
  --secondary-color: #F6EEDA;

  --inverted-primary-color: #555241;
  --inverted-secondary-color: #373d42;
}
