.app.light {
  --bg-color: #DED7FB;
  --inverted-bg-color: #30333A;

  --primary-color: #555241;
  --secondary-color: #373d42;

  --inverted-primary-color: #B48e57;
  --inverted-secondary-color: #F6EEDA;
}
